<%= form_for @account, html: { class: 'account-form' } do |f| %>
<h1>
  Bank Accounts
</h1>
<div class='form-group'>
  <%= f.label(:account_1_total, "Account 1 Total:") %>
  <%= f.text_field :account_1_total %>
  <div class='form-group'>
    <%= f.label(:account_2_total, "Account 2 Total:") %>
    <%= f.text_field :account_2_total %>
  </div>
  <h1>Stock</h1>
  <%= f.fields_for :stocks do |stock_form| %>
    <div class='form-group'>
      <%= stock_form.label(:stock_symbol, "Stock Symbol:") %>
      <%= stock_form.text_field :stock_symbol %>
    </div>
    <div class='form-group'>
      <%= stock_form.label(:amount_purchased, "Amount purchased:") %>
      <%= stock_form.text_field :amount_purchased %>
    </div>
    <div class='form-group'>
      <%= stock_form.label(:date_purchased, "Date Purchased:") %>
      <%= stock_form.text_field :date_purchased, id: "datepicker" %>
    </div>
  <% end %>
  <div class='form-group'>
    <%= f.submit 'save' %>
  </div>
<% end %>
